@import "tailwindcss";

.tajawal {
  font-family: "Tajawal", sans-serif;
  font-style: normal;
}


@theme {
  /* Neutral Colors */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;

  /* Colors */
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-light: #dbeafe;
  
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  
  --color-success: #22c55e;
  --color-success-light: #dcfce7;
  
  --color-danger: #ef4444;
  --color-danger-light: #fee2e2;
  
  --color-warning: #f59e0b;
  --color-warning-light: #fef3c7;

  /* Background Colors */
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-muted: #f3f4f6;

  /* Text Colors */
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;


  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;


  /* Animations */
  @keyframes ping {
    from {
      border-width: 1px;
      transform: scale(1);
      opacity: 1;
    }
    to {
      border-width: 0px;
      transform: scale(4);
      opacity: 0;
    }
  }

}
